 footer {
  flex-direction: column;
  text-align: center;
}

.footer-container {
  background-color: var(--primary-colors) !important;
}

footer.custom-footer {
    background-color: var(--primary-color) !important; /* Forza l'override */
    color: white; /* Colore del testo */
}
  
footer p.text-muted {
    color: white !important; /* Usa !important per forzare l'override */

  }

h5 {
  font-family: 'Pacifico', sans-serif;
}
  
