* {
  box-sizing: border-box;
}

body {
  font-family: 'Montserrat', sans-serif !important;
  font-size: 16px; /* Dimensione del testo di base */
  line-height: 1.6; /* Altezza delle righe leggibile */
  color: black; /* Colore di testo predefinito */
  background-color: #f9fafb !important; /* Colore di sfondo generale */
  height: 100%;

}

input:focus {
  outline: none;
}

/* Stile quando è selezionata */
input[type="checkbox"]:checked {
  background-color: #4caf50; /* Verde */
  border-color: #4caf50;
  position: relative;
}

/* Aggiunge la V bianca */
input[type="checkbox"]:checked::after {
  content: "✔"; /* Il simbolo di spunta */
  font-size: 16px;
  color: white; /* Bianco */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-weight: bold;
}


button:hover {
  background-color: #f9fafb; 
  color: #4CAF50 !important; 
  border: 1px solid #4CAF50 !important;
  cursor: pointer;
}

#suggestion-title:hover {
  background-color: #4CAF50;
  color: white;
}

#recipe-card_small:hover {
  box-shadow: 0px 4px 10px rgb(76, 175, 80);
}

#dropdown-option:hover {
  background-color: #4CAF50;
  color: white;
}

#advanced-search_button:hover {
  background-color: white; 
  color: #4CAF50 !important; 
  border: 1px solid #4CAF50 !important;
}

#advanced-option:hover {
  background-color: #4CAF50;
  color: white;
}



